.mainDiv {
  background-color: darkorange;
  padding: 70px;
  height: 900px;
  text-align: center;
}
.btn-go {
  background-color: aqua;
  color: black;
  border-radius: 20px;
  height: 39px;
  position: relative;
  top: -1px;
  width: 40px;
  margin-left: -40px;
  box-shadow: -2px 3px 23px 10px grey;
}
.btn-up {
  background-color: aqua;
  color: black;
  border-radius: 20px;
  height: 41px;
  position: relative;
  bottom: 41px;
  right: -148px;
  width: 100px;
  box-shadow: -1px 1px 23px;
}
.form-input {
  background-color: aliceblue;
  color: black;
  border-radius: 20px;
  width: 400px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}
.form-input:focus {
  box-shadow: 0 0 10px 1000px rgba(5, 5, 5, 0.705);
}
.table-wrapper {
  margin: 50px;
}
h4 {
  color: white;
  font: 300 4em/150% Impact;
  text-align: center;}


/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
